@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
    -webkit-font-smoothing: antialiased;
  }

  span,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul {
    @apply text-white;
  }

  p {
    @apply text-zilkroad-text-light;
  }
}

body.lock {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

pre {
  color: #fff;
}

.selectedItem {
  color: #fff !important;
}

.contract {
  text-overflow: ellipsis;
  max-width: 120px;
  width: 100%;
  display: block;
  overflow: hidden;
}

.price {
  text-overflow: ellipsis;
  max-width: 80px;
  width: 100%;
  display: block;
  overflow: hidden; 
}
